html, body{
    /* overflow: hidden; */
}

canvas{
    /* width: 30vw;
    height: 30vh; */
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.main{
    height:100vh;
}
.left{
    float:left;
    width: 20%;
    height: 100vh;
    padding: 2vh;
    box-sizing: border-box;
}
.right{
    /* display: inline-block; */
    float:left;
    width: 80%;
    height: 100vh;
    padding: 2vh;
    box-sizing: border-box;
}

.controller{
    position:absolute;
    bottom: 30vh;
    /* padding-bottom: 10px; */
}

#display{
    height: 90vh;
}

#control{
    height: 90vh;
    position:relative; left:0px;
}

#experiment{
    height: 90vh;
}

#foot{
    clear: both;
    height: 1vh
}

.task-block{
    /* width: 50vw; */
    height: 90vh;
    margin:0 auto;
    display:block;
}